<div class="container collection-filter">
  <div class="wrapper">
    
    <div class="collections-container closed">
      <p class="page-header mobile"><i class="fa fa-caret-right"></i> Collections</p>

      <ul class="collections-dropdown desktop hidden">
        
        <li class="current-category"><p class="page-header"><a href="#">Category 1</a></p></li>
        
        <li><p class="page-header"><a href="#">Category 2</a></p>
          <ul class="category-dropdown">
            <li><a href="#"><p class="subhead">Lorem ipsum</p></a></li>
            <li><a href="#"><p class="subhead">Dolor sit amet</p></a></li>
          </ul>
        </li>
        
        <li><p class="page-header"><a href="#">Category 3</a></p></li>
        
        <li><p class="page-header"><a href="#">Category 4</a></p>
          <ul class="category-dropdown">
            <li><a href="#"><p class="subhead">Consectetur sed do</p></a></li>
            <li><a href="#"><p class="subhead">Adipiscing elit</p></a></li>
          </ul>
        </li>
        
        <li><p class="page-header"><a href="#">Category 5</a></p></li>

        <li class="current-category"><p class="page-header"><a href="#">Category 1</a></p></li>
        
        <li><p class="page-header"><a href="#">Category 2</a></p>
          <ul class="category-dropdown">
            <li><a href="#"><p class="subhead">Lorem ipsum</p></a></li>
            <li><a href="#"><p class="subhead">Dolor sit amet</p></a></li>
          </ul>
        </li>
        
        <li><p class="page-header"><a href="#">Category 3</a></p></li>
        
        <li><p class="page-header"><a href="#">Category 4</a></p>
          <ul class="category-dropdown">
            <li><a href="#"><p class="subhead">Consectetur sed do</p></a></li>
            <li><a href="#"><p class="subhead">Adipiscing elit</p></a></li>
          </ul>
        </li>
        
        <li><p class="page-header"><a href="#">Category 5</a></p></li>
      
      </ul>
    </div>

    <div class="search-container">
      <i class="fa fa-search"></i>
      <input type="text" class="search-input animated fadeIn hidden" placeholder="Search Canopy">
      <i class="fa fa-times animated fadeIn hidden"></i>
    </div>

  </div>
</div>