<div class="container collection-filter">
  <div class="wrapper">
    
    <div class="collections-container closed">
      <p class="page-header mobile"><i class="fa fa-caret-right"></i> Collections</p>
      <ul class="collections-dropdown desktop hidden">
        <li><p class="page-header">Category 1</p></li>
        <li><p class="page-header">Category 2</p>
          <ul class="category-dropdown">
            <li><p class="subhead">Lorem ipsum</p></li>
            <li><p class="subhead">Dolor sit amet</p></li>
          </ul>
        </li>
        <li><p class="page-header">Category 3</p></li>
        <li><p class="page-header">Category 4</p>
          <ul class="category-dropdown">
            <li><p class="subhead">Consectetur sed do</p></li>
            <li><p class="subhead">Adipiscing elit</p></li>
          </ul>
        </li>
        <li><p class="page-header">Category 5</p></li>
      </ul>
    </div>

    <div class="search-container">
      <i class="fa fa-search"></i>
      <input type="text" class="search-input animated fadeIn hidden" placeholder="Search Canopy">
      <i class="fa fa-times animated fadeIn hidden"></i>
    </div>

  </div>
</div>