<div class="container dropdown">
  <div class="wrapper">
    
    <div class="category-container">
      <p class="category-header">Category-1</p>
    </div>

    <div class="filter-container">
      <p class="filter-header">Most Viewed <i class="fa fa-caret-down"></i></p>
    </div>

  </div>
</div>