<div class="container navbar">
  <div class="wrapper">

    <div class="navbar-header">  
      <div class="title-container">
        <p class="page-header">Canopy</p>
      </div>

      <div class="hamburger-container closed">
        <i class="fa fa-bars"></i>
        <i class="fa fa-times hidden"></i>
      </div>
    </div>
    
    <div class="navbar-dropdown hidden">
      <ul>
        <li><p class="navbar-link"><a href="#">Link 1</a></p></li>
        <li><p class="navbar-link"><a href="#">Link 2</a></p></li>
      </ul>
    </div>

  </div>
</div>