<div class="wrapper navbar">
  <div class="navbar-wrapper">
    
    <div class="title-container">
      <p class="page-header">Canopy</p>
    </div>

    <div class="hamburger-container">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</div>