<div class="container video-main">
  <div class="wrapper">

    <div class="video-container">
      <img class="img-scale" src="http://static.winnin.com/o-DOGS-DINING-WITH-HUMAN-HANDS-facebook.jpg" alt="">
    </div>

  </div>
</div>