<div class="container video-item">
  <div class="wrapper">
    
    <div class="video-container">
      <img class="img-scale" src="http://static.winnin.com/o-DOGS-DINING-WITH-HUMAN-HANDS-facebook.jpg">
    </div>

    <div class="text-container">
      <p class="header-text">Sol serenat omnia iamiam cedant tristia sol</p>
    </div>
  </div>
</div>