<div class="wrapper video-main-info">
  <div class="wrapper">

    <div class="text-container">
      <p class="subhead">Category 1</p>
      <p class="header-text">Sol serenat omnia iamiam cedant tristia sol</p>
      <p class="meta">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
    </div>

    <div class="links-container">
      <ul>
        <li><i class="fa fa-facebook-square"></i></li>
        <li><i class="fa fa-twitter"></i></li>
        <li><i class="fa fa-envelope"></i></li>
        <li><i class="fa fa-link"></i></li>
      </ul>
    </div>

  </div>
</div>