<div class="wrapper video-main">
  <div class="video-main-wrapper">
    <div class="video-container">
      <img class="img-scale" src="http://static.winnin.com/o-DOGS-DINING-WITH-HUMAN-HANDS-facebook.jpg" alt="">
    </div>
  </div>
</div>