.search-container {
  float: right;

  .fa {
    cursor: pointer;
    padding-right: 15px;
    font-size: 1.5em;
    margin-top: 15px;
  }

  @media (min-width: 900px) {
    &.showing {
      display: inline-block;
      float: right;

      .fa {
        cursor: pointer;
        padding-right: 15px;
        font-size: 1.5em;
        margin-top: 15px;
        display: inline-block;
        text-align: right;
        float: right;
      }

      .fa-times {
        display: none;
      }

      .search-input {
        border: 1px solid @grey;
        border-radius: 6px;
        height: 30px;
        float: left;
        margin-top: 15px;
        margin-right: 15px;
        font-size: 14px;
        outline: none;

        &.hidden {
          display: inline-block;
        }
      }
    
    }
  }
}

.search-container.active {
  float: none;
  padding-left: 15px;
  width: 100%;

  .search-input {
    height: 40px;
    font-family: @serif;
    font-size: 24px;
    border: none;
    outline: none;
  }

  .fa-times {
    float: right;
    font-size: 1.5em;
    padding-right: 40px;
    margin-top: 10px;
  }


}