.collections-resize .collections-list {
  display: none;

  &.visible {
    display: inline-block;

   .subcat {
      top: 40px;
      left: -10px;
    }
  }
}

.collections-container .collections-resize {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  bottom: -16px;

  .collections-list {
    padding: 15px 0px 15px 60px;

    &.visible {
      top: 51px;
      left: -15px;
      width: 100%;
      right: 0;
    }

    li {
      padding-top: 0;
      
    }

    .selected {

      .sub-cat {
        top: 40px;
        left: -10px;
      }
      
    }

    .cat-title {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: inherit;
      padding-left: 10px;
    }

  }
}


.title-container.resize-visible.closed {
  background-color: transparent;
}

.title-container.resize-visible {
  background-color: @white;
}