.collection-filter {

  .collections-container.resize {

    .page-header.mobile.resize {
      display: block;
    }

    .desktop.hidden.resize {
      display: none;

    }

    .collections-dropdown.desktop.resize {
    
      li {
        display: inline-block;
        margin-right: 25px;

        .page-header {
          text-align: left;
          display: inline-block;
          .fa {
            display: inline-block;
          }
        }

        li {
          display: none;

        }

      }

    }
    
  }

}