.navbar {
  background-color: @white;
  border-bottom: 1px solid @whitesmoke;
  overflow: auto;

  @media (min-width: @md) {
    border-bottom: 0;

    .navbar-dropdown {
      display: inline-block;
      float: right;
      width: auto;

      li {
        display: inline-block;
        text-align: right;
        margin-left: 30px;
      }
    }
  }
  
  
  .navbar-header {
    overflow: auto;

    @media (min-width: @md) {
      float: left;
      display: inline-block;
    }
  }

  .title-container {
    float: left;
    font-family: @serif;
    font-weight: 800;
    font-size: 24px;

    .page-header {
      margin-top: 20px;
    }
  }

  .hamburger-container {
    float: right;
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 10px;


    @media (min-width: @md) {
      display: none;
    }

    .fa {
      cursor: pointer;
      margin-top: 5px;
      background-color: @whitesmoke;
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 20%;
    }

  }

}