.video-main-info {
  text-align: center;

  .subhead {
    font-family: @sans-condensed;
    font-size: 14px;
  }

  .header-text {
    font-size: 28px;
    font-family: 'Times Regular';
    font-weight: 500;
  }

  .meta {
    font-size: 14px;
  }

  .links-container {
   
    li {
      display: inline-block;
    }

    .fa {
      font-size: 2em;
      margin-right: 30px;
    }
  }
}