<div class="desktop-fixed">
  {{> navbar }}
  {{> video-main }}
  {{> collection-filter }}
  <div class="overflow-bottom"></div>
</div>

<div class="collection-content">
  {{> category-filter }}
  <div class="container video-items">
    <div class="wrapper">
      {{> video-item }}
      {{> video-item }}
      {{> video-item }}
      {{> video-item }}
      {{> video-item }}
      {{> video-item }}
      {{> video-item }}
      {{> video-item }}
      {{> video-item }}
      {{> video-item }}
      {{> video-item }}
      {{> video-item }}
      {{> video-item }}
      {{> video-item }}
      {{> video-item }}
    </div>
  </div>
  {{> footer }}
  <div class="shadow"></div>
</div>